build
target
.swp
.swo
tags
VERSION

# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
html-assets/
.actionScriptProperties
.flexProperties

locomote.sublime-workspace
locomote.sublime-project
.atom-build.json
node_modules
